.mainbody {
    background-color: #2b3538;
}

.center {
    text-align: center;
}

.mainbody h1 {
    color: #ffffff;
}

.header {
    padding-top: 10px;
}

.container {
    margin: auto;
    position: absolute;
    border: 5px solid black;
}